
body{
    background:linear-gradient(rgba(0, 0, 0, 0.4), gray), url(bg2.jpg);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
}


.form-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
}

h2{
    color: white;
}

.review-image {
    object-fit: cover;
}

#tabela{
    background-color: black;
}

.table {
    background-color: black;
    color: white;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden;
}

.table-hover tbody tr:hover {
    background-color: black;
    cursor: pointer;
}


.table-row:hover {
    transform: scale(1.01);
    background-color: black ;
}

.review-image {
    object-fit: cover;
    border: 2px solid #ddd;
}

th {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9rem;
}

td {
    font-size: 0.95rem;
}

.text-warning {
    font-size: 1.2rem;
}


@media (max-width: 576px) {
    .review-name {
        font-size: 0.9rem;
    }

    .table th, .table td {
        font-size: 0.85rem;
    }
}

