
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Background  gradient*/
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background: linear-gradient(90deg, #0F2050, #064E5C, #161A3D);
  background-size: 300% 300%;
  animation: gradient 7s alternate infinite;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}   

/* Navbar */

.navbar {
  background: linear-gradient(90deg, #0F2050, #064E5C, #161A3D);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-size: 300% 300%;
  animation: gradient 3s alternate infinite;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
  }  
  
.container .navbar-brand{
  color: white;
}

.navbar-nav .nav-link {
  color: black;
  margin-right: 1rem;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: white;
  text-decoration: underline;
}

.navbar-toggler-icon {
  filter: invert(1);
}


/* Home Section */

section h1, section h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

.text h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 100px;
}

.text h3{
  font-family: Courier New;
  font-size: 50px;
  color: aquamarine;
}

#one {
  text-align: center;
  margin-top: 50px;
}

#one img {
  animation: enter ease-in 1.5s;
  margin-top: 70px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Moving words */

.text h2 {
  font-size: 40px;
  color: black;
}

span{
  margin-left: 10px;
}

.text h2 span{
  height: 1.5em;
  position: relative;
  display: inline-block;
  color: white;
  vertical-align: top;
  overflow: hidden;
}

h2 span span{
  margin-left: 3px;
  display: block;
  animation: animateWords 7s infinite ease-in-out;
}

@keyframes animateWords {
  0% {transform: translateY(0%);}
  25% {transform: translateY(-100%);}
  50% {transform: translateY(-200%);}
  75% {transform: translateY(-300%);}
  100% {transform: translateY(-400%);}
}


/* Cards */
.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.web{
  margin-top: 200px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #007bff;
}

.card-text {
  color: #555;
  font-size: 0.95rem;
}

.btn-secondary {
  background-color: #6c757d;
  border: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #007bff;
  color: #fff;
}


/* Section 3*/

#three h1{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-bottom: 6px solid black;
  width: 18%;
  margin-left: 8px;
}
  

/* Tables */

.container-table {
  margin: 20px 0;
}

.table {
  margin-bottom: 30px;
}

table a{
  color: black;
  text-decoration: none;
}

.table th, .table td {
  vertical-align: center;
  text-align: left;
}

.certificat a:hover {
  text-decoration: underline;
}

/*Section 4*/


footer {
  width: 100%;
  background: linear-gradient(90deg, #0F2050, #064E5C, #161A3D);
  background-size: 300% 300%;
  animation: gradient 7s alternate infinite;
  padding: 70px 0 20px;
  border-top: 1px solid black;
}

.footerContainer {
  max-width: 1200px; /* Center content on larger screens */
  margin: 0 auto;
  padding: 0 15px; /* Responsive padding */
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.socialIcons a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 15px;
  background-color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  transition: all 0.2s ease;
}

.socialIcons a i {
  font-size: 1.5rem;
  color: black;
  opacity: 0.9;
}

.socialIcons a:hover {
  background-color: black;
  transform: scale(1.1); /* Slight zoom effect */
}

.socialIcons a:hover i {
  color: white;
}

.footerNav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 30px 0;
}

.footerNav ul li a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 1.1rem;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.footerNav ul li a:hover {
  color: #000;
}

.footerBottom {
  background-color: #000;
  padding: 15px 0;
  text-align: center;
}

.footerBottom p {
  margin: 0;
  color: white;
  font-size: 0.9rem;
}

.designer {
  font-weight: 600;
  margin-left: -1px;
}


/* Responsive */

@media (max-width: 768px) {
  #one h1 {
      font-size: 2.5rem;
  }

  #one h2 {
      font-size: 1.5rem;
  }

  .navbar {
      padding: 10px;
  }

  .card-title {
      font-size: 1rem;
  }

  #three h1{
    font-size: 1.5rem;
  }
}

/*Scrollbar*/
::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-track{
  background: #007bff;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(#064E5C, #0F2050);
}
