@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


section{
    height: 100vh;
    scroll-snap-align: start;
}

.kontenier{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    
}
  
#navbar{
    height: 60px;
    width: auto;
    background:url();
    color: white;
    display: flex;
    justify-content: space-between;
}

#navbar h1{
    font-family: "Lexend" , sans-serif;
    font-weight: 500;
    width: auto;
    font-size: 40px;
    margin-left: 20px;
}

.navbox{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navbox button{
    display: flex;
    align-items: center;
    color: blue;
    text-align: center;
    height: 30px;
    margin: 8px;
    border: 2px solid white;
    font-size: 15px;
    background: none;
    font-weight: 6;
    padding: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}