body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a1a1a;
}
.gv-header, .gv-footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
.card {
    background-color: white;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    transition: transform 0.2s ease;
}
.card:hover {
    transform: scale(1.05);
}
.btn-primary {
    background-color: #343a40;
    color: white;
    border: #1a1a1a;
}
.btn-primary:hover {
    background-color: blue;
}
.gv-card-img-top {
    border-radius: 5px 2px 0 0;
    height: 150px;
    width: auto;
    object-fit: cover;
}

.gv-card-title{
    font-weight: 400;
    font-style: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gv-card-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


button{
    border-radius: 8px;
    background-color: grey;
    color: white;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-top: 35vh;
}


